<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="expires" content="0">
  <title>iFlorens</title>
  <!-- 使用CDN的CSS文件 -->
  <% cdn&&cdn.css.forEach(function(css){ %>
    <link rel="stylesheet" href="<%- css %>" />
  <% }); %>

</head>

<body>
  <div id="app"></div>

  <!-- 使用CDN的JS文件 -->
  <% cdn&&cdn.js.forEach(function(js){ %>
    <script src="<%- js%>"></script>
  <% }); %>
  <script type="module" src="/src/main.ts"></script>
</body>

</html>