<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
  <title>管理后台</title>
  <!-- 使用CDN的CSS文件 -->
  <% cdn&&cdn.css.forEach(function(css){ %>
    <link rel="stylesheet" href="<%- css %>" />
    <% }); %>

</head>

<body>
  <div id="app"></div>

  <!-- 使用CDN的JS文件 -->
  <% cdn&&cdn.js.forEach(function(js){ %>
    <script src="<%- js%>"></script>
    <% }); %>
      <script type="module" src="/src/main.ts"></script>
</body>

</html>